@model gitembe.Models.tPersona

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tPersona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocIdentidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocIdentidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonaStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonaStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
