@model gitembe.Models.tLugar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tLugar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LugarDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LugarDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LugarStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LugarStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LugarID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
