@model IEnumerable<gitembe.Models.tLugar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LugarDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LugarStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LugarDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LugarStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LugarID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LugarID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LugarID })
        </td>
    </tr>
}

</table>
