@model gitembe.Models.tCargo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tCargo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CargoSigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoSigla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CargoDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CargoStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CargoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
